<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Bitte geben Sie Ihren Namen ein, um sich zu registrieren!</h2>

    <form action="/registriert" method="POST">
        <label for="vn">Vorname: </label>
        <input type="text" name="vn" id="vn" placeholder="Vorname">

        <label for="nn">Nachname: </label>
        <input type="text" name="nn" id="nn" placeholder="Nachname">

        <button type="submit">Registrieren</button>
    </form>
</body>
</html> 