<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Bitte gib Deine Daten ein, um dich zu registrieren!</h2>

    <form action="/registriert" method="GET">
        <label for="vn">Vorname: </label>
        <input type="text" name="vn" id="vn" placeholder="Vorname">

        <label for="nn">Nachname: </label>
        <input type="text" name="nn" id="nn" placeholder="Nachname">
        <br>
        <label>E-Mail-Adresse</label>
        <input type="email" name="mail" id="mail" placeholder="E-Mail-Adresse">
        <br>
        <button type="submit">Registrieren</button>
    </form>
</body>
</html> 