<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Vielen Dank, {{.Vorn}}!</h2>
    <h3>Du hast dich erfolgreich registriert.</h3>
    <h3>Wir haben dir eine Bestätigungs-Mail an "{{.Mail}}" gesendet.</h3>
</body>
</html> 