<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Hallo, {{.Vorn}} {{.Nachn}}!</h2>
    <h3>Sie haben sich erfolgreich registriert.</h3>
</body>
</html> 